
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>Huy Huế Fruits</title>

</head>

<body class="stretched side-header">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo" class="nobottomborder">
                        <a href="#" class="standard-logo"><img src="~/Content/images/logo-2.png" alt="Canvas Logo"></a>
                        @*  <a href="index.html" class="retina-logo" data-dark-logo="~/Content/images/logo-side-dark@2x.png"><img src="~/Content/images/logo-side@2x.png" alt="Canvas Logo"></a>*@
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul>
                            <li>
                                <a href="@Url.Action("Index","Login")"><div>Đăng nhập</div></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Login")"><div>Đăng ký</div></a>
                            </li>
                        </ul>
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <ul>
                            <li class="current">
                                <i class="icon-cart"></i>
                                <span>Khuyến mại hấp dẫn</span>
                            </li>
                            <li class="current">
                                <i class="icon-line-square-check"></i>
                                <span>Cam kết chất lượng</span>
                            </li>
                            <li class="current">
                                <i class="icon-truck2"></i>
                                <span>Miễn phí vận chuyển</span><i class="notetop" style="color:red">*</i>
                            </li>
                        </ul>
                    </nav><!-- #primary-menu end -->

                    <div class="clearfix d-none d-lg-block">
                        <a href="#" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>
                    </div>

                </div>

            </div>

        </header><!-- #header end -->
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">

                <!-- Portfolio Items
                ============================================= -->
                <div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-full portfolio-nomargin portfolio-notitle clearfix">

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/Content/images/portfolio/4/11.jpg" alt="Táo Đỏ">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="~/Content/images/portfolio/full/11.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Táo Đỏ Mỹ</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-illustrations">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-animation="fade">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/1.jpg" alt="Sầu Riêng"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/1-1.jpg" alt="Sầu Riêng"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <a href="~/Content/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/images/portfolio/full/1-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Sầu riêng</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/Content/images/portfolio/4/12.jpg" alt="Nho móng tay">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="~/Content/images/portfolio/full/12.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Nho móng tay</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-icons pf-illustrations">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/4.jpg" alt="Xoài Cát"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/4-1.jpg" alt="Xoài Cát"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <a href="~/Content/images/portfolio/full/4.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/images/portfolio/full/4-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Xoài Cát</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/Content/images/portfolio/4/9.jpg" alt="Bơ sầu riêng">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="~/Content/images/portfolio/full/9.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Sinh tố bơ sầu riêng</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-illustrations">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-animation="fade">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/6.jpg" alt="Dừa sáp"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/6-1.jpg" alt="Dừa sáp"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <a href="~/Content/images/portfolio/full/6.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/images/portfolio/full/6-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Dừa sáp</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/Content/images/portfolio/4/10.jpg" alt="Sinh tố sầu xoài">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="~/Content/images/portfolio/full/10.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Sinh tố sầu xoài</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-icons pf-illustrations">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/8.jpg" alt="Quýt hồng"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/8-1.jpg" alt="Quýt hồng"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <a href="~/Content/images/portfolio/full/8.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/images/portfolio/full/8-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Quýt hồng</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-illustrations">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-animation="fade">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/7.jpg" alt="Bưởi da xanh"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/7-1.jpg" alt="Bưởi da xanh"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <a href="~/Content/images/portfolio/full/7.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/images/portfolio/full/7-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Bưởi da xanh</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/Content/images/portfolio/4/5.jpg" alt="Chôm Chôm">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="~/Content/images/portfolio/full/5.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Chôm Chôm</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-illustrations">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-animation="fade">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/14.jpg" alt="Đào đà lạt"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/14-1.jpg" alt="Đào đà lạt"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <a href="~/Content/images/portfolio/full/14.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/images/portfolio/full/14-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Đào đà lạt</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/Content/images/portfolio/4/13-1.jpg" alt="Dâu tây">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="~/Content/images/portfolio/full/13-1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="#" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Dâu tây</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-icons pf-illustrations">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/15.jpg" alt="Mận Tím"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="~/Content/images/portfolio/4/15-1.jpg" alt="Mận Tím"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <a href="~/Content/images/portfolio/full/15.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="~/Content/images/portfolio/full/15-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Mận Tím</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-illustrations">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/Content/images/portfolio/4/2.jpg" alt="Măng cụt">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="~/Content/images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Măng cụt</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                    <article class="portfolio-item pf-illustrations">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/Content/images/portfolio/4/3.jpg" alt="Quả Bơ">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="~/Content/images/portfolio/full/3.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><span>Quả bơ</span></h3>
                            <span>Giá:</span>
                        </div>
                    </article>

                </div><!-- #portfolio end -->

                <a href="#" class="button button-full center button-light button-white">
                    <div class="container clearfix">
                        0853551197? <strong>Hãy liên hệ</strong> <i class="icon-caret-right" style="top:4px;"></i>
                    </div>
                </a>

            </div>

        </section><!-- #content end -->
        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="center">
                        Copyrights &copy; @DateTime.Now.Year All Rights Reserved by Canvas Inc.<br>
                        <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="~/Content/js/functions.js"></script>

    <!-- Portfolio Script
    ============================================= -->

</body>
</html>