@model MVCDemo.Models.Login
<!DOCTYPE html>
<html>
<head>

    <title>Notification cực ngầu, cực chất, cực trất'ss</title>
    <script type="text/javascript">
        function FukJes(data) {

        }

        function FukJesCry(err) {
            alert("holly shjttt");
        }
    </script>
</head>

<body>
    @using (Ajax.BeginForm("Indexx","Test", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "FukJes", OnFailure = "FukJesCry" }, new { id = "register-form", name = "register-form", @class = "nobottommargin" }))
    {
        <div>
            @Html.TextBoxFor(model => model.UserName)<br /><br />
            @Html.TextBoxFor(model => model.PassWord)<br /><br />
            @Html.TextBoxFor(model => model.RememberMe)<br /><br />

            <input type="submit" value="ddsada" />

        </div>


    }
</body>
</html>